# Resend API Key
VITE_RESEND_API_KEY=tu_api_key_aqui

# URL base de la aplicación
VITE_APP_URL=https://www.sepeiunido.org

# Contraseña del panel de administración
VITE_ADMIN_PASSWORD=tu_contraseña_segura_aqui

# Supabase Configuration
SUPABASE_URL=tu_supabase_url_aqui
SUPABASE_ANON_KEY=tu_supabase_anon_key_aqui
